# Dependências do Node
node_modules/

# Saída de Build do Astro
dist/
.astro/

# Logs do Node/npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Variáveis de ambiente
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.*.local

# Configurações do IDE / Editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos do Sistema Operacional
.DS_Store
Thumbs.db
